body {
    background-color: #191919;
    margin: 0;
    padding: 20px;
    font-family: 'Verdana', monospace;
    color: #a21e1e;
}

.header {
    text-align: left;
    margin-bottom: 0px;
}

.redstone-staub-1 {
    width: 56px;
    height: 52px;
    position: absolute;
    left: 30px;
    top: 12px;
}

.title {
    font-size: 42px;
    margin: -7px 70px;
    text-shadow: 2px 2px #000000;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: #111;
    padding: 15px;
    border: 2px solid #b20000;
    border-radius: 15px;
    margin: 20px 0px;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9f0000;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #580000;
}